{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper">
    <div class="logo-upper">
      <img src="../static/image/logo.png" alt="Password Manager Logo">
    </div>
    <h2>Add Account</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Password" required>
      </div>
      <div class="input-box">
        <input type="text" name="website" placeholder="Website/URL" required>
      </div>
      
      <div class="input-box button">
        <input type="Submit" value="Add Account">
      </div>
    </form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
  </div>
{% endblock %}