<!-- Add account template -->
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper">
    <form method="POST">
      <h2>Add Account</h2>
      <div>
        <label for="image">Choose an image</label>
        <select name="image" id="image">
          <option value="facebook.png">Facebook</option>
          <option value="instagram.svg">Instagram</option>
          <option value="linkedin.webp">Linkedin</option>
          <option value="tiktok.png">Tiktok</option>
        </select>
      </div>
      <div class="input-box">
        <input type="text" name="website" placeholder="Website/URL" required>
      </div>
      <div class="input-box">
        <input type="text" name="acc_username" placeholder="Username" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="input-box-show checkbox">
        <input type="checkbox" id="show_password" onclick="togglePassword()"> Show Password
      </div>
      <div class="input-box-generate button">
        <button type="button" onclick="generatePassword()">Generate Password</button>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Add Account">
      </div>
    </form>
  </div>
  <script>
    // Generate password and fetch data from the route
    function generatePassword() {
      fetch('{{ url_for("main.generate_password_route") }}')
        .then(response => response.json())
        .then(data => {
          document.getElementById('password').value = data.password;
        });
    }
    // Show and hide data function
    function togglePassword() {
      var passwordField = document.getElementById("password");
      if (passwordField.type === "password") {
        passwordField.type = "text";
      } else {
        passwordField.type = "password";
      }
    }
  </script>
{% endblock %}