<!-- Edit account template -->
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper">
    <form method="POST", action="{{ url_for('main.edit', account_id=account['id']) }}">
      <div class="edit-img">
        <img src="{{ url_for('static', filename=account['image']) }}" alt="Image" width="100">
      </div>
      <div>
        <div>
          <label for="image">Choose an image</label>
          <select name="image" id="image">
            <option value="facebook.png">Facebook</option>
            <option value="instagram.svg">Instagram</option>
            <option value="linkedin.webp">Linkedin</option>
            <option value="tiktok.png">Tiktok</option>
          </select>
        </div>
      </div>
      <h2>Edit Account</h2>
      <div class="input-box">
        <input type="text" name="website" placeholder="Website/URL" value="{{ account['website'] }}">
      </div>
      <div class="input-box">
        <input type="text" name="acc_username" placeholder="Username" value="{{ account['username'] }}">
      </div>
      <div class="input-box">
        <input type="password" name="password" id="password" placeholder="Password" value="{{ account['password'] }}">
      </div>
      <div class="input-box-show checkbox">
        <input type="checkbox" id="show_password" onclick="togglePassword()"> Show Password
      </div>
      <div class="input-box-generate button">
        <button type="button" onclick="generatePassword()">Generate Password</button>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Update">
      </div>
    </form>
    <form method="POST" action="{{ url_for('main.delete', account_id=account['id']) }}">
      <div class="input-box-delete button">
        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this account?');">
      </div>
    </form>
  </div>
  <script>
    function generatePassword() {
      fetch('{{ url_for("main.generate_password_route") }}')
        .then(response => response.json())
        .then(data => {
          document.getElementById('password').value = data.password;
        });
    }

    function togglePassword() {
      var passwordField = document.getElementById("password");
      if (passwordField.type === "password") {
        passwordField.type = "text";
      } else {
        passwordField.type = "password";
      }
    }
  </script>
{% endblock %}