{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper">
    <div class="logo-upper">
      <img src="../static/logo.png" alt="Password Manager Logo">
    </div>
    <h2>Registration</h2>
    <form method="POST">
      <div class="input-box">
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <div class="input-box">
        <input type="password" name="master_password" placeholder="Password" required>
      </div>
      <div class="input-box">
        <input type="password" name="re_master_password" placeholder="Re-Enter Password" required>
      </div>
      <div class="text">
        <h3>Already have an account? <a href="{{ url_for('main.login') }}">Click here</a></h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
    </form>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
  </div>
{% endblock %}
