<!-- Reset master password template -->
{% extends 'layout.html' %}

{% block content %}
<div class="wrapper">
    <h2>Reset Password</h2>
    <form method="POST">
        <div class="input-box">
            <input type="password" name="master_password" placeholder="New Password" required>
        </div>
        <div class="input-box">
            <input type="password" name="re_master_password" placeholder="Re-Enter New Password" required>
        </div>
        <div class="input-box button">
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>
{% endblock %}
